body {
  color: #ffffff;
  background-color: #1e262f;
  margin: 0;
  padding: 0;
}

#float-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 8px;
  padding: 16px 24px 16px 24px;
  border: none;
  color: black;
  background: #E7040F;
  border-radius: 100%; 
}

#float-btn:hover {
  background: #FF4136;
}

#modal-box {
  z-index: 99;
  top: 0;
  left: 0;
}